/* frontend/src/components/CourseItem.css */

.course-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.course-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-details {
  padding: 10px;
}

.toggle-icon {
  font-size: 20px;
}

.expanded {
  transform: rotate(180deg);
}

.button-group {
  text-align: center;
}

.button-group button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: #9c27b0;
}

.button-group button:hover {
  background-color: #7b1fa2;
}

/* Modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  max-width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Adjustments for Content Inside Modal */
.modal-content label,
.modal-content input,
.modal-content select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50; /* Green */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}
